<div class="row">
  <div class="col-xs-12">
  <form>
    <fieldset>
      <label>{{ fieldlabelStandardContent }}</label>
      <div class="checkbox">
        <input type="checkbox" id="f4" name="f4" value="1" class="hidden">
        <label for="f4">Option 1</label>

        <input type="checkbox" id="f5" name="f5" value="2" class="hidden">
        <label for="f5">Option 2</label>

        <input type="checkbox" id="f6" name="f6" value="3" class="hidden">
        <label for="f6">Option 3</label>
      </div>
    </fieldset>
  </form>

  <div style="background-color:#3b4549;padding:12px;">
  <form>
  <fieldset>
    <label class="light">{{ fieldlabelStandardContent }}</label>
    <div class="checkbox">
      <input type="checkbox" id="f4" name="f4" value="1" class="hidden">
      <label for="f4" class="light">Option 1</label>

      <input type="checkbox" id="f5" name="f5" value="2" class="hidden">
      <label for="f5" class="light">Option 2</label>

      <input type="checkbox" id="f6" name="f6" value="3" class="hidden">
      <label for="f6" class="light">Option 3</label>
    </div>
  </fieldset>
  </form>
  </div>
</div>
