<ul class="restriction-wrapper col-lg-12">
  <li class="tag tag-facet" title="facet label">
  <i class="fa fa-close words right"></i>{{ tagFacetContent }}
  </li>

  <li class="tag tag-dataquality" title="data quality label">
  <i class="fa fa-close words right"></i>{{ tagDataQualityContent }}
  </li>

  <li class="tag tag-inactive" title="data quality label">
  <i class="fa fa-close words right"></i>{{ tagInactiveContent }}
  </li>
</ul>
