<button type="button" class="btn"><i class="fa fa-slack words"></i>{{ buttonStandardContent }}</button>
<button type="button" class="btn"><i class="fa fa-slack words right"></i>{{ buttonStandardContent }}</button>
