<button type="button" class="btn left">One</button>
<button type="button" class="btn middle">Two</button>
<button type="button" class="btn right">Three</button>

<button type="button" class="btn left"><i class="fa fa-backward"></i></button>
<button type="button" class="btn middle"><i class="fa fa-pause"></i></button>
<button type="button" class="btn middle"><i class="fa fa-play"></i></button>
<button type="button" class="btn right"><i class="fa fa-forward"></i></button>
