<button type="button" class="btn x-small">x-small button</button>
<button type="button" class="btn small">small button</button>
<button type="button" class="btn">{{ buttonStandardContent }}</button>
<button type="button" class="btn large">large button</button>
<button type="button" class="btn x-large">x-large button</button>
