.btn {
  -moz-user-select: none;
  background: $background-color none repeat scroll 0 0;
  border: 1px solid $font-inactive;
  border-radius: 0.285714rem;
  box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34, 36, 38, 0.15) inset;
  color: $font-color;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  line-height: 1em;
  margin: 0 0.25em 0 0;
  min-height: 1em;
  outline: 0 none;
  padding: 0.785714em 1em;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  transition: opacity 0.1s ease 0s, background-color 0.1s ease 0s, color 0.1s ease 0s, box-shadow 0.1s ease 0s, background 0.1s ease 0s;
  vertical-align: baseline;

  .words {
    margin: 0 0.428571em 0 -0.214286em;
    &.right{
      float: right;
      margin: 0 -0.214286em 0 0.428571em;
    }
  }

  &:hover {
    background-color: darken($background-color, 10%);
  }

  &:active {
      background-color: darken($background-color, 20%);
    }

  &.btn-primary {
    color: $white;
    background-color: $primary;
    border: 1px solid $primary;
    &:hover {
      background-color: darken($primary, 10%);
    }
    &:active {
      background-color: darken($primary, 20%);
    }
  }

  &.btn-secondary {
    color: $white;
    background-color: $secondary;
    border: 1px solid $secondary;
    &:hover {
      background-color: darken($secondary, 10%);
    }
    &:active {
      background-color: darken($secondary, 20%);
    }
  }

  &.btn-inactive {
    color: $font-inactive;
    border: 1px solid $font-inactive;
    &:hover {
      background-color: $background-color;
    }
  }

   &.btn-frameless {
    background-color: transparent;
    border: none;
    padding: 0;
    &:hover {
      color: $primary;
    }
    &:active {
      color: darken($primary, 10%);
    }
  }

  //button groups

  &.left {
    border-radius: 0.285714rem 0px 0px 0.285714rem;
    margin-right: 0px;
  }

  &.middle {
    border-radius: 0;
    margin-left: -6px;
    margin-right: 1px;
  }

  &.right {
     border-radius: 0px 0.285714rem 0.285714rem 0px;
     margin-left: -6px;
  }

}





