// Primary color
$primary: #649dc5;

// Secondary color
$secondary: #376a8e;

// Standard white/black
$white: #ffffff;
$black: #000000;

// Standard default font color
$font-color: #3b4549;

// Standard inactive font color
$font-inactive: #cccccc;

// Border color
$border-color: #DCDEE2;

// Background color
$background-color: #f1f1f1;

// Message bar colors
$success-color  : #719d46;
$warning-color  : #efaa1b;
$alert-color    : #b63813;
$notice-color   : $primary;
