label {
    -moz-user-select: none;
    color: $font-color;
    display: block;
    font-weight: 600;
    max-width: 635px;
    padding-bottom: 0.8em;
}

fieldset {
  margin-bottom: 6px;
}

input[type="text"]{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    background-color: $white;
    border: 1px solid $border-color;
    border-radius: 4px;
    color: $font-color;
    display: block;
    font-weight: normal;
    margin: 0 0 8px;
    padding: 0 12px;
    position: relative;
    width: 100%;
    max-width: 600px;
    min-height: 30px;
    min-width: 50px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $font-inactive;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $font-inactive;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $font-inactive;
}
:-moz-placeholder { /* Firefox 18- */
  color: $font-inactive;
}

input[type="text"]:focus {
  box-shadow: 0 0 3px rgba(81, 203, 238, 1);
  outline: medium none;
}

%input-background-position {
  background-position: right 10px center;
  background-size: auto 14px;
  background-repeat: no-repeat;
  padding-right: 12px;
}

%input-background-email {
  padding: 0 33px 0 10px;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7) 100%), url('data:image/svg+xml;utf8,<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="511.626px" height="511.627px" viewBox="0 0 511.626 511.627" style="enable-background:new 0 0 511.626 511.627;" xml:space="preserve"><g><path d="M498.208,68.235c-8.945-8.947-19.701-13.418-32.261-13.418H45.682c-12.562,0-23.318,4.471-32.264,13.418C4.471,77.18,0,87.935,0,100.499v310.633c0,12.566,4.471,23.312,13.418,32.257c8.945,8.953,19.701,13.422,32.264,13.422h420.266c12.56,0,23.315-4.469,32.261-13.422c8.949-8.945,13.418-19.697,13.418-32.257V100.499C511.626,87.935,507.158,77.18,498.208,68.235z M475.078,411.125c0,2.475-0.903,4.616-2.714,6.424c-1.81,1.81-3.949,2.706-6.42,2.706H45.679c-2.474,0-4.616-0.896-6.423-2.706c-1.809-1.808-2.712-3.949-2.712-6.424V191.858c6.09,6.852,12.657,13.134,19.7,18.843c51.012,39.209,91.553,71.374,121.627,96.5c9.707,8.186,17.607,14.561,23.697,19.13c6.09,4.571,14.322,9.185,24.694,13.846c10.373,4.668,20.129,6.991,29.265,6.991h0.287h0.284c9.134,0,18.894-2.323,29.263-6.991c10.376-4.661,18.613-9.274,24.701-13.846c6.089-4.569,13.99-10.944,23.698-19.13c30.074-25.126,70.61-57.291,121.624-96.5c7.043-5.708,13.613-11.991,19.694-18.843V411.125L475.078,411.125z M475.078,107.92v3.14c0,11.229-4.421,23.745-13.271,37.543c-8.851,13.798-18.419,24.792-28.691,32.974c-36.74,28.936-74.897,59.101-114.495,90.506c-1.14,0.951-4.474,3.757-9.996,8.418c-5.514,4.668-9.894,8.241-13.131,10.712c-3.241,2.478-7.471,5.475-12.703,8.993c-5.236,3.518-10.041,6.14-14.418,7.851c-4.377,1.707-8.47,2.562-12.275,2.562h-0.284h-0.287c-3.806,0-7.895-0.855-12.275-2.562c-4.377-1.711-9.185-4.333-14.417-7.851c-5.231-3.519-9.467-6.516-12.703-8.993c-3.234-2.471-7.614-6.044-13.132-10.712c-5.52-4.661-8.854-7.467-9.995-8.418c-39.589-31.406-77.75-61.57-114.487-90.506c-27.981-22.076-41.969-49.106-41.969-81.083c0-2.472,0.903-4.615,2.712-6.421c1.809-1.809,3.949-2.714,6.423-2.714h420.266c1.52,0.855,2.854,1.093,3.997,0.715c1.143-0.385,1.998,0.331,2.566,2.138c0.571,1.809,1.095,2.664,1.57,2.57c0.477-0.096,0.764,1.093,0.859,3.571c0.089,2.473,0.137,3.718,0.137,3.718V107.92L475.078,107.92z"/></g></svg>');
}

%input-background-password {
  padding: 0 33px 0 10px;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7) 100%), url('data:image/svg+xml;utf8,<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="401.998px" height="401.998px" viewBox="0 0 401.998 401.998" style="enable-background:new 0 0 401.998 401.998;" xml:space="preserve"><g><path d="M357.45,190.721c-5.331-5.33-11.8-7.993-19.417-7.993h-9.131v-54.821c0-35.022-12.559-65.093-37.685-90.218C266.093,12.563,236.025,0,200.998,0c-35.026,0-65.1,12.563-90.222,37.688C85.65,62.814,73.091,92.884,73.091,127.907v54.821h-9.135c-7.611,0-14.084,2.663-19.414,7.993c-5.33,5.326-7.994,11.799-7.994,19.417V374.59c0,7.611,2.665,14.086,7.994,19.417c5.33,5.325,11.803,7.991,19.414,7.991H338.04c7.617,0,14.085-2.663,19.417-7.991c5.325-5.331,7.994-11.806,7.994-19.417V210.135C365.455,202.523,362.782,196.051,357.45,190.721z M274.087,182.728H127.909v-54.821c0-20.175,7.139-37.402,21.414-51.675c14.277-14.275,31.501-21.411,51.678-21.411c20.179,0,37.399,7.135,51.677,21.411c14.271,14.272,21.409,31.5,21.409,51.675V182.728z"/></g></svg>');
}

%input-background-search {
  padding: 0 33px 0 10px;
  width: 88%;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7) 100%), url('data:image/svg+xml;utf8,<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="475.084px" height="475.084px" viewBox="0 0 475.084 475.084" style="enable-background:new 0 0 475.084 475.084;" xml:space="preserve"><g><path d="M464.524,412.846l-97.929-97.925c23.6-34.068,35.406-72.047,35.406-113.917c0-27.218-5.284-53.249-15.852-78.087c-10.561-24.842-24.838-46.254-42.825-64.241c-17.987-17.987-39.396-32.264-64.233-42.826C254.246,5.285,228.217,0.003,200.999,0.003c-27.216,0-53.247,5.282-78.085,15.847C98.072,26.412,76.66,40.689,58.673,58.676c-17.989,17.987-32.264,39.403-42.827,64.241C5.282,147.758,0,173.786,0,201.004c0,27.216,5.282,53.238,15.846,78.083c10.562,24.838,24.838,46.247,42.827,64.234c17.987,17.993,39.403,32.264,64.241,42.832c24.841,10.563,50.869,15.844,78.085,15.844c41.879,0,79.852-11.807,113.922-35.405l97.929,97.641c6.852,7.231,15.406,10.849,25.693,10.849c9.897,0,18.467-3.617,25.694-10.849c7.23-7.23,10.848-15.796,10.848-25.693C475.088,428.458,471.567,419.889,464.524,412.846zM291.363,291.358c-25.029,25.033-55.148,37.549-90.364,37.549c-35.21,0-65.329-12.519-90.36-37.549c-25.031-25.029-37.546-55.144-37.546-90.36c0-35.21,12.518-65.334,37.546-90.36c25.026-25.032,55.15-37.546,90.36-37.546c35.212,0,65.331,12.519,90.364,37.546c25.033,25.026,37.548,55.15,37.548,90.36C328.911,236.214,316.392,266.329,291.363,291.358z"/></g></svg>');
}

%input-background-number {
  padding: 0 33px 0 10px;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7) 100%), url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve"><g id="hash"><path style="fill:#030104;" d="M30,12V8h-5.004l1-8h-4l-1,8h-7.998l1-8h-4l-1,8H2v4h6.498L7.5,20H2v4h5l-1,8h4l1-8h8l-1.002,8H22l1-8h7v-4h-6.5l0.996-8H30z M19.5,20h-8l0.998-8h7.998L19.5,20z"/></g></svg>');
}

@mixin input-background($type) {
  @extend %input-background-#{$type};
  @extend %input-background-position;
}

input.search {
  @include input-background('search');
}

input[type=email] {
  @include input-background('email');
}

input[type=password] {
  @include input-background('password');
}

input[type=tel],
input[type=number] {
  @include input-background('number');
}

textarea {
  height: auto;
}


//Checkboxes & Radio Buttons

.checkbox {
  backface-visibility: hidden;
  display: inline-block;
  line-height: 17px;
  min-height: 17px;
  min-width: 17px;
  outline: 0 none;
  position: relative;
  vertical-align: baseline;
}


.checkbox input.hidden {
    z-index: -1;
}

.checkbox input[type="checkbox"], .checkbox input[type="radio"] {
    cursor: pointer;
    height: 17px;
    left: 0;
    opacity: 0 !important;
    outline: 0 none;
    position: absolute;
    top: 0;
    width: 17px;
    z-index: 3;
}

.form input[type="checkbox"], .form textarea {
    vertical-align: top;
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input {
    line-height: normal;
}

.checkbox .box::before, .checkbox label::before {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #d4d4d5;
    border-radius: 0.214286rem;
    content: "";
    height: 16px;
    left: 0;
    position: absolute;
    top: 0;
    transition: border 0.1s ease 0s, opacity 0.1s ease 0s, transform 0.1s ease 0s, box-shadow 0.1s ease 0s, -webkit-transform 0.1s ease 0s;
    width: 16px;
}

.checkbox .box::after, .checkbox label::after {
    color: rgba(0, 0, 0, 0.87);
    font-family: FontAwesome;
    height: 16px;
    left: 0;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 0;
    transition: border 0.1s ease 0s, opacity 0.1s ease 0s, transform 0.1s ease 0s, box-shadow 0.1s ease 0s, -webkit-transform 0.1s ease 0s;
    width: 16px;
}

.checkbox input.hidden + label {
    -moz-user-select: none;
    cursor: pointer;
}

.checkbox label, .checkbox + label {
    color: rgba(0, 0, 0, 0.87);
    transition: color 0.1s ease 0s;

    &.light {
      color: #FFFFFFCC;
    }

}

.checkbox .box, .checkbox label {
    cursor: auto;
    display: block;
    outline: 0 none;
    padding-left: 1.85714em;
    position: relative;
    font-weight: 500;
}

.checkbox input:checked ~ .box::after, .checkbox input:checked ~ label::after {
    content: "\f00c";
    color: $primary;
    opacity: 1;
    padding-left: 1px;
    padding-top: 0.5px;
}
