strong, b {
  font-weight: bold;
}

// Used for javascript to easily add
// and remove class for simple hiding
.hide {
  display: none;
}

.seperator {
  height: 1px;
  width: 100%;
  margin: 20px 0 15px 0;
  background-color: $black;
  opacity: .1;

  &.smaller {
    margin: 10px 0 8px 0;
  }

  &.light {
    opacity: .8;
    background-color: #FFFFFF;
  }

}

// This mixin will allow you to vertical-align
// an element relative to its parent
@mixin vertical-align($position) {
  position: $position; // Either relative or absolute
  top: 50%;
  transform: translateY(-50%);
}

p {
  margin: 10px 0px;
}

/* mixin for multiline */
@mixin multiLineEllipsis($lineHeight: 1.6em, $lineCount: 3){
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 400px;
  height: 13*1.6*3; /* Fallback for non-webkit */
  margin: 0 auto;
  line-height: 1.6;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

a {
  text-decoration: none;
  padding: 0 6px;

  &:link {
      color: $primary;
  }

  &:visited {
      color: $primary;
  }

  &:hover {
    color: darken($primary, 10%);
  }

  &:active {
      color: darken($primary, 20%);
  }

}






