* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  color: #3b4549;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  line-height: 1.4; }

h1 {
  font-size: 36px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 24px; }

h4, .dx-modal .modal-content .modal-header {
  font-size: 18px; }

h5 {
  font-size: 14px; }

h6 {
  font-size: 12px; }

h1, h2, h3, h4, .dx-modal .modal-content .modal-header, h5, h6 {
  color: inherit;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1; }

.x-large {
  font-size: 20px; }

.large {
  font-size: 15px; }

.small {
  font-size: 11px; }

.x-small {
  font-size: 9px; }

.light {
  color: rgba(255, 255, 255, 0.8); }

strong, b {
  font-weight: bold; }

.hide {
  display: none; }

.seperator {
  height: 1px;
  width: 100%;
  margin: 20px 0 15px 0;
  background-color: #000000;
  opacity: .1; }
  .seperator.smaller {
    margin: 10px 0 8px 0; }
  .seperator.light {
    opacity: .8;
    background-color: #FFFFFF; }

p {
  margin: 10px 0px; }

/* mixin for multiline */
a {
  text-decoration: none;
  padding: 0 6px; }
  a:link {
    color: #649dc5; }
  a:visited {
    color: #649dc5; }
  a:hover {
    color: #4385b3; }
  a:active {
    color: #35698e; }

.btn {
  -moz-user-select: none;
  background: #f1f1f1 none repeat scroll 0 0;
  border: 1px solid #cccccc;
  border-radius: 0.285714rem;
  box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34, 36, 38, 0.15) inset;
  color: #3b4549;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  line-height: 1em;
  margin: 0.5em 0.25em 0 0;
  min-height: 1em;
  outline: 0 none;
  padding: 0.785714em 1em;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  transition: opacity 0.1s ease 0s, background-color 0.1s ease 0s, color 0.1s ease 0s, box-shadow 0.1s ease 0s, background 0.1s ease 0s;
  vertical-align: baseline; }
  .btn .words {
    margin: 0 0.428571em 0 -0.214286em; }
    .btn .words.right {
      float: right;
      margin: 0 -0.214286em 0 0.428571em; }
  .btn:hover {
    background-color: #d8d8d8; }
  .btn:active {
    background-color: #bebebe; }
  .btn.btn-primary {
    color: #ffffff;
    background-color: #649dc5;
    border: 1px solid #649dc5; }
    .btn.btn-primary:hover {
      background-color: #4385b3; }
    .btn.btn-primary:active {
      background-color: #35698e; }
  .btn.btn-secondary {
    color: #ffffff;
    background-color: #376a8e;
    border: 1px solid #376a8e; }
    .btn.btn-secondary:hover {
      background-color: #294f69; }
    .btn.btn-secondary:active {
      background-color: #1b3344; }
  .btn.btn-inactive {
    color: #cccccc;
    border: 1px solid #cccccc; }
    .btn.btn-inactive:hover {
      background-color: #f1f1f1; }
  .btn.btn-frameless {
    background-color: transparent;
    border: none;
    padding: 0; }
    .btn.btn-frameless:hover {
      color: #649dc5; }
    .btn.btn-frameless:active {
      color: #4385b3; }
  .btn.left {
    border-radius: 0.285714rem 0px 0px 0.285714rem;
    margin-right: 0px; }
  .btn.middle {
    border-radius: 0;
    margin-left: -6px;
    margin-right: 1px; }
  .btn.right {
    border-radius: 0px 0.285714rem 0.285714rem 0px;
    margin-left: -6px; }

.dropdown-trigger {
  position: relative;
  overflow: visible !important;
  outline: none; }

.dropdown-content {
  display: none;
  position: absolute;
  font-weight: 400;
  cursor: default;
  border: 1px solid #DCDEE2;
  background-color: #ffffff;
  white-space: nowrap;
  top: 40px;
  z-index: 1000;
  left: -1px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px; }
  .dropdown-content .seperator {
    margin: 0; }
  .dropdown-content.animate-in {
    display: block;
    animation-name: fadeIn;
    animation-duration: .3s;
    animation-fill-mode: both; }
  .dropdown-content.animate-out {
    display: block;
    animation-name: fadeOut;
    animation-duration: .3s;
    animation-fill-mode: both; }
  .dropdown-content .menu-item {
    padding: 8px; }
    .dropdown-content .menu-item:hover {
      background-color: #649dc5;
      color: #ffffff;
      cursor: pointer; }
    .dropdown-content .menu-item:not(:last-child) {
      border-bottom: 1px solid #DCDEE2; }

.search {
  display: flex;
  margin: 1rem 0.785714rem .5rem;
  min-width: 10rem;
  width: auto; }

.floating.dropdown > .menu {
  border-radius: 0.285714rem !important;
  margin-top: 0.5em !important; }

.floating.dropdown .menu {
  border-radius: 0.285714rem !important;
  box-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12), 0 2px 10px 0 rgba(34, 36, 38, 0.15) !important;
  left: 0;
  right: auto; }

.button.dropdown .menu {
  min-width: 100%; }

.dropdown .menu {
  left: 0; }

.dropdown .menu {
  background: #fff none repeat scroll 0 0;
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: 0.285714rem;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  cursor: auto;
  display: none;
  font-size: 1em;
  margin: 0;
  min-width: -moz-max-content;
  outline: 0 none;
  padding: 0;
  position: absolute;
  text-align: left;
  text-shadow: none;
  top: 100%;
  transition: opacity 0.1s ease 0s;
  will-change: transform, opacity;
  z-index: 11; }

.visible.transition {
  display: block !important;
  visibility: visible !important; }

.transition {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  animation-timing-function: ease; }

.dropdown .menu > .input {
  display: flex;
  margin: 1.14286rem 0.785714rem;
  min-width: 10rem;
  width: auto; }

.dropdown .menu > * {
  white-space: nowrap; }

.dropdown .menu > .header {
  color: rgba(0, 0, 0, 0.85);
  font-size: 0.785714em;
  font-weight: 700;
  margin: 1rem 0 0.75rem;
  padding: 0 1.14286rem;
  text-transform: uppercase; }

.dropdown .menu > * {
  white-space: nowrap; }

*, *::after, *::before {
  box-sizing: inherit; }

*::-moz-selection {
  background-color: #cce2ff;
  color: rgba(0, 0, 0, 0.87); }

.dropdown .menu {
  cursor: auto;
  font-size: 1em;
  text-align: left;
  text-shadow: none; }

.dropdown .menu .menu::after {
  display: none; }

*, *::after, *::before {
  box-sizing: inherit; }

.dropdown > .animating.menu .scrolling.menu, .dropdown > .visible.menu .scrolling.menu {
  display: block; }

.dropdown .scrolling.menu, .scrolling.dropdown .menu {
  max-height: 20.5714rem; }

.dropdown .scrolling.menu, .scrolling.dropdown .menu {
  max-height: 15.4286rem; }

.floating.dropdown .menu {
  border-radius: 0.285714rem !important;
  box-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12), 0 2px 10px 0 rgba(34, 36, 38, 0.15) !important;
  left: 0;
  right: auto; }

.scrolling.menu {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: rgba(34, 36, 38, 0.15) -moz-use-text-color -moz-use-text-color;
  border-image: none;
  border-radius: 0 !important;
  border-style: solid none none;
  border-width: 1px medium medium;
  box-shadow: none !important;
  margin: 0 !important;
  min-width: 100% !important;
  overflow-y: auto;
  position: static;
  width: auto !important; }

.scrolling.menu {
  overflow-x: hidden;
  overflow-y: auto; }

.tag {
  -moz-user-select: none;
  background: #f1f1f1 none repeat scroll 0 0;
  border: medium none;
  border-radius: 0.285714rem;
  box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34, 36, 38, 0.15) inset;
  color: #3b4549;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 12px;
  font-style: normal;
  line-height: 1em;
  margin: 0.25em 0.25em 0.25em 0;
  min-height: 1em;
  outline: 0 none;
  padding: 0.65em 1em;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  transition: opacity 0.1s ease 0s, background-color 0.1s ease 0s, color 0.1s ease 0s, box-shadow 0.1s ease 0s, background 0.1s ease 0s;
  vertical-align: baseline; }
  .tag .words {
    margin: 0 0.428571em 0 -0.214286em; }
    .tag .words.right {
      float: right;
      margin: 0 -0.214286em 0 0.428571em; }
  .tag:hover {
    background-color: #d8d8d8; }
  .tag:active {
    background-color: #bebebe; }
  .tag.tag-facet {
    color: #ffffff;
    background-color: #649dc5; }
    .tag.tag-facet:hover {
      background-color: #4385b3; }
    .tag.tag-facet:active {
      background-color: #35698e; }
  .tag.tag-dataquality {
    color: #ffffff;
    background-color: #376a8e; }
    .tag.tag-dataquality:hover {
      background-color: #294f69; }
    .tag.tag-dataquality:active {
      background-color: #1b3344; }
  .tag.tag-inactive {
    color: #cccccc; }
    .tag.tag-inactive:hover {
      background-color: #f1f1f1; }
  .tag.clear-all {
    background-color: transparent;
    border: none;
    padding: 0; }
    .tag.clear-all:hover {
      color: #649dc5; }
    .tag.clear-all:active {
      color: #4385b3; }

.message {
  background: #f8f8f9 none repeat scroll 0 0;
  border-radius: 0.285714rem;
  box-shadow: 0 0 0 1px rgba(34, 36, 38, 0.22) inset, 0 0 0 0 transparent;
  color: white;
  line-height: 1.4285em;
  margin: 1em 0;
  min-height: 1em;
  padding: 1em 1.5em;
  position: relative;
  transition: opacity 0.1s ease 0s, color 0.1s ease 0s, background 0.1s ease 0s, box-shadow 0.1s ease 0s; }
  .message.flush {
    margin: 0px;
    border-radius: 0px; }
  .message.standard {
    background-color: #f1f1f1;
    color: #3b4549; }
  .message.success {
    background-color: #719d46; }
  .message.warning {
    background-color: #efaa1b; }
  .message.alert {
    background-color: #b63813; }
  .message.notice {
    background-color: #649dc5; }

.container-fluid,
.container {
  margin-right: auto;
  margin-left: auto; }

.container-fluid {
  padding-right: 2rem;
  padding-left: 2rem; }

.row {
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -0.5rem;
  margin-left: -0.5rem; }

.row.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }

.col.reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse; }

.col-xs,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-offset-0,
.col-xs-offset-1,
.col-xs-offset-2,
.col-xs-offset-3,
.col-xs-offset-4,
.col-xs-offset-5,
.col-xs-offset-6,
.col-xs-offset-7,
.col-xs-offset-8,
.col-xs-offset-9,
.col-xs-offset-10,
.col-xs-offset-11,
.col-xs-offset-12 {
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-right: 0.5rem;
  padding-left: 0.5rem; }

.col-xs {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%; }

.col-xs-1 {
  -ms-flex-preferred-size: 8.33333333%;
  flex-basis: 8.33333333%;
  max-width: 8.33333333%; }

.col-xs-2 {
  -ms-flex-preferred-size: 16.66666667%;
  flex-basis: 16.66666667%;
  max-width: 16.66666667%; }

.col-xs-3 {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%; }

.col-xs-4 {
  -ms-flex-preferred-size: 33.33333333%;
  flex-basis: 33.33333333%;
  max-width: 33.33333333%; }

.col-xs-5 {
  -ms-flex-preferred-size: 41.66666667%;
  flex-basis: 41.66666667%;
  max-width: 41.66666667%; }

.col-xs-6 {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%; }

.col-xs-7 {
  -ms-flex-preferred-size: 58.33333333%;
  flex-basis: 58.33333333%;
  max-width: 58.33333333%; }

.col-xs-8 {
  -ms-flex-preferred-size: 66.66666667%;
  flex-basis: 66.66666667%;
  max-width: 66.66666667%; }

.col-xs-9 {
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  max-width: 75%; }

.col-xs-10 {
  -ms-flex-preferred-size: 83.33333333%;
  flex-basis: 83.33333333%;
  max-width: 83.33333333%; }

.col-xs-11 {
  -ms-flex-preferred-size: 91.66666667%;
  flex-basis: 91.66666667%;
  max-width: 91.66666667%; }

.col-xs-12 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%; }

.col-xs-offset-0 {
  margin-left: 0; }

.col-xs-offset-1 {
  margin-left: 8.33333333%; }

.col-xs-offset-2 {
  margin-left: 16.66666667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.33333333%; }

.col-xs-offset-5 {
  margin-left: 41.66666667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.33333333%; }

.col-xs-offset-8 {
  margin-left: 66.66666667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.33333333%; }

.col-xs-offset-11 {
  margin-left: 91.66666667%; }

.start-xs {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: start; }

.center-xs {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center; }

.end-xs {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: end; }

.top-xs {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.middle-xs {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.bottom-xs {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.around-xs {
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.between-xs {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.first-xs {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1; }

.last-xs {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1; }

@media only screen and (min-width: 48em) {
  .container {
    width: 49rem; }

  .col-sm,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-offset-0,
  .col-sm-offset-1,
  .col-sm-offset-2,
  .col-sm-offset-3,
  .col-sm-offset-4,
  .col-sm-offset-5,
  .col-sm-offset-6,
  .col-sm-offset-7,
  .col-sm-offset-8,
  .col-sm-offset-9,
  .col-sm-offset-10,
  .col-sm-offset-11,
  .col-sm-offset-12 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem; }

  .col-sm {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%; }

  .col-sm-1 {
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%; }

  .col-sm-2 {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%; }

  .col-sm-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }

  .col-sm-4 {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%; }

  .col-sm-5 {
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%; }

  .col-sm-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }

  .col-sm-7 {
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%; }

  .col-sm-8 {
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%; }

  .col-sm-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }

  .col-sm-10 {
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%; }

  .col-sm-11 {
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%; }

  .col-sm-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }

  .col-sm-offset-0 {
    margin-left: 0; }

  .col-sm-offset-1 {
    margin-left: 8.33333333%; }

  .col-sm-offset-2 {
    margin-left: 16.66666667%; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-offset-4 {
    margin-left: 33.33333333%; }

  .col-sm-offset-5 {
    margin-left: 41.66666667%; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-offset-7 {
    margin-left: 58.33333333%; }

  .col-sm-offset-8 {
    margin-left: 66.66666667%; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-offset-10 {
    margin-left: 83.33333333%; }

  .col-sm-offset-11 {
    margin-left: 91.66666667%; }

  .start-sm {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start; }

  .center-sm {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }

  .end-sm {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end; }

  .top-sm {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }

  .middle-sm {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

  .bottom-sm {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }

  .around-sm {
    -ms-flex-pack: distribute;
    justify-content: space-around; }

  .between-sm {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

  .first-sm {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1; }

  .last-sm {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; } }
@media only screen and (min-width: 64em) {
  .container {
    width: 65rem; }

  .col-md,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-offset-0,
  .col-md-offset-1,
  .col-md-offset-2,
  .col-md-offset-3,
  .col-md-offset-4,
  .col-md-offset-5,
  .col-md-offset-6,
  .col-md-offset-7,
  .col-md-offset-8,
  .col-md-offset-9,
  .col-md-offset-10,
  .col-md-offset-11,
  .col-md-offset-12 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem; }

  .col-md {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%; }

  .col-md-1 {
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%; }

  .col-md-2 {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%; }

  .col-md-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }

  .col-md-4 {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%; }

  .col-md-5 {
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%; }

  .col-md-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }

  .col-md-7 {
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%; }

  .col-md-8 {
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%; }

  .col-md-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }

  .col-md-10 {
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%; }

  .col-md-11 {
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%; }

  .col-md-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }

  .col-md-offset-0 {
    margin-left: 0; }

  .col-md-offset-1 {
    margin-left: 8.33333333%; }

  .col-md-offset-2 {
    margin-left: 16.66666667%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-offset-4 {
    margin-left: 33.33333333%; }

  .col-md-offset-5 {
    margin-left: 41.66666667%; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-offset-7 {
    margin-left: 58.33333333%; }

  .col-md-offset-8 {
    margin-left: 66.66666667%; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-offset-10 {
    margin-left: 83.33333333%; }

  .col-md-offset-11 {
    margin-left: 91.66666667%; }

  .start-md {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start; }

  .center-md {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }

  .end-md {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end; }

  .top-md {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }

  .middle-md {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

  .bottom-md {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }

  .around-md {
    -ms-flex-pack: distribute;
    justify-content: space-around; }

  .between-md {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

  .first-md {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1; }

  .last-md {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; } }
@media only screen and (min-width: 75em) {
  .container {
    width: 76rem; }

  .col-lg,
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-offset-0,
  .col-lg-offset-1,
  .col-lg-offset-2,
  .col-lg-offset-3,
  .col-lg-offset-4,
  .col-lg-offset-5,
  .col-lg-offset-6,
  .col-lg-offset-7,
  .col-lg-offset-8,
  .col-lg-offset-9,
  .col-lg-offset-10,
  .col-lg-offset-11,
  .col-lg-offset-12 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem; }

  .col-lg {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%; }

  .col-lg-1 {
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%; }

  .col-lg-2 {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%; }

  .col-lg-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }

  .col-lg-4 {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%; }

  .col-lg-5 {
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%; }

  .col-lg-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }

  .col-lg-7 {
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%; }

  .col-lg-8 {
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%; }

  .col-lg-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }

  .col-lg-10 {
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%; }

  .col-lg-11 {
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%; }

  .col-lg-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }

  .col-lg-offset-0 {
    margin-left: 0; }

  .col-lg-offset-1 {
    margin-left: 8.33333333%; }

  .col-lg-offset-2 {
    margin-left: 16.66666667%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-offset-4 {
    margin-left: 33.33333333%; }

  .col-lg-offset-5 {
    margin-left: 41.66666667%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-offset-7 {
    margin-left: 58.33333333%; }

  .col-lg-offset-8 {
    margin-left: 66.66666667%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-offset-10 {
    margin-left: 83.33333333%; }

  .col-lg-offset-11 {
    margin-left: 91.66666667%; }

  .start-lg {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start; }

  .center-lg {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }

  .end-lg {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end; }

  .top-lg {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }

  .middle-lg {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

  .bottom-lg {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }

  .around-lg {
    -ms-flex-pack: distribute;
    justify-content: space-around; }

  .between-lg {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

  .first-lg {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1; }

  .last-lg {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; } }
label {
  -moz-user-select: none;
  color: #3b4549;
  display: block;
  font-weight: 600;
  max-width: 635px;
  padding-bottom: 0.8em; }

fieldset {
  margin-bottom: 6px; }

input[type="text"] {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  background-color: #ffffff;
  border: 1px solid #DCDEE2;
  border-radius: 4px;
  color: #3b4549;
  display: block;
  font-weight: normal;
  margin: 0 0 8px;
  padding: 0 12px;
  position: relative;
  width: 100%;
  max-width: 600px;
  min-height: 30px;
  min-width: 50px; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #cccccc; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #cccccc; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #cccccc; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #cccccc; }

input[type="text"]:focus {
  box-shadow: 0 0 3px #51cbee;
  outline: medium none; }

input.search, input[type=email], input[type=password], input[type=tel],
input[type=number] {
  background-position: right 10px center;
  background-size: auto 14px;
  background-repeat: no-repeat;
  padding-right: 12px; }

input[type=email] {
  padding: 0 33px 0 10px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.7) 100%), url('data:image/svg+xml;utf8,<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="511.626px" height="511.627px" viewBox="0 0 511.626 511.627" style="enable-background:new 0 0 511.626 511.627;" xml:space="preserve"><g><path d="M498.208,68.235c-8.945-8.947-19.701-13.418-32.261-13.418H45.682c-12.562,0-23.318,4.471-32.264,13.418C4.471,77.18,0,87.935,0,100.499v310.633c0,12.566,4.471,23.312,13.418,32.257c8.945,8.953,19.701,13.422,32.264,13.422h420.266c12.56,0,23.315-4.469,32.261-13.422c8.949-8.945,13.418-19.697,13.418-32.257V100.499C511.626,87.935,507.158,77.18,498.208,68.235z M475.078,411.125c0,2.475-0.903,4.616-2.714,6.424c-1.81,1.81-3.949,2.706-6.42,2.706H45.679c-2.474,0-4.616-0.896-6.423-2.706c-1.809-1.808-2.712-3.949-2.712-6.424V191.858c6.09,6.852,12.657,13.134,19.7,18.843c51.012,39.209,91.553,71.374,121.627,96.5c9.707,8.186,17.607,14.561,23.697,19.13c6.09,4.571,14.322,9.185,24.694,13.846c10.373,4.668,20.129,6.991,29.265,6.991h0.287h0.284c9.134,0,18.894-2.323,29.263-6.991c10.376-4.661,18.613-9.274,24.701-13.846c6.089-4.569,13.99-10.944,23.698-19.13c30.074-25.126,70.61-57.291,121.624-96.5c7.043-5.708,13.613-11.991,19.694-18.843V411.125L475.078,411.125z M475.078,107.92v3.14c0,11.229-4.421,23.745-13.271,37.543c-8.851,13.798-18.419,24.792-28.691,32.974c-36.74,28.936-74.897,59.101-114.495,90.506c-1.14,0.951-4.474,3.757-9.996,8.418c-5.514,4.668-9.894,8.241-13.131,10.712c-3.241,2.478-7.471,5.475-12.703,8.993c-5.236,3.518-10.041,6.14-14.418,7.851c-4.377,1.707-8.47,2.562-12.275,2.562h-0.284h-0.287c-3.806,0-7.895-0.855-12.275-2.562c-4.377-1.711-9.185-4.333-14.417-7.851c-5.231-3.519-9.467-6.516-12.703-8.993c-3.234-2.471-7.614-6.044-13.132-10.712c-5.52-4.661-8.854-7.467-9.995-8.418c-39.589-31.406-77.75-61.57-114.487-90.506c-27.981-22.076-41.969-49.106-41.969-81.083c0-2.472,0.903-4.615,2.712-6.421c1.809-1.809,3.949-2.714,6.423-2.714h420.266c1.52,0.855,2.854,1.093,3.997,0.715c1.143-0.385,1.998,0.331,2.566,2.138c0.571,1.809,1.095,2.664,1.57,2.57c0.477-0.096,0.764,1.093,0.859,3.571c0.089,2.473,0.137,3.718,0.137,3.718V107.92L475.078,107.92z"/></g></svg>'); }

input[type=password] {
  padding: 0 33px 0 10px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.7) 100%), url('data:image/svg+xml;utf8,<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="401.998px" height="401.998px" viewBox="0 0 401.998 401.998" style="enable-background:new 0 0 401.998 401.998;" xml:space="preserve"><g><path d="M357.45,190.721c-5.331-5.33-11.8-7.993-19.417-7.993h-9.131v-54.821c0-35.022-12.559-65.093-37.685-90.218C266.093,12.563,236.025,0,200.998,0c-35.026,0-65.1,12.563-90.222,37.688C85.65,62.814,73.091,92.884,73.091,127.907v54.821h-9.135c-7.611,0-14.084,2.663-19.414,7.993c-5.33,5.326-7.994,11.799-7.994,19.417V374.59c0,7.611,2.665,14.086,7.994,19.417c5.33,5.325,11.803,7.991,19.414,7.991H338.04c7.617,0,14.085-2.663,19.417-7.991c5.325-5.331,7.994-11.806,7.994-19.417V210.135C365.455,202.523,362.782,196.051,357.45,190.721z M274.087,182.728H127.909v-54.821c0-20.175,7.139-37.402,21.414-51.675c14.277-14.275,31.501-21.411,51.678-21.411c20.179,0,37.399,7.135,51.677,21.411c14.271,14.272,21.409,31.5,21.409,51.675V182.728z"/></g></svg>'); }

input.search {
  padding: 0 33px 0 10px;
  width: -33px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.7) 100%), url('data:image/svg+xml;utf8,<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="475.084px" height="475.084px" viewBox="0 0 475.084 475.084" style="enable-background:new 0 0 475.084 475.084;" xml:space="preserve"><g><path d="M464.524,412.846l-97.929-97.925c23.6-34.068,35.406-72.047,35.406-113.917c0-27.218-5.284-53.249-15.852-78.087c-10.561-24.842-24.838-46.254-42.825-64.241c-17.987-17.987-39.396-32.264-64.233-42.826C254.246,5.285,228.217,0.003,200.999,0.003c-27.216,0-53.247,5.282-78.085,15.847C98.072,26.412,76.66,40.689,58.673,58.676c-17.989,17.987-32.264,39.403-42.827,64.241C5.282,147.758,0,173.786,0,201.004c0,27.216,5.282,53.238,15.846,78.083c10.562,24.838,24.838,46.247,42.827,64.234c17.987,17.993,39.403,32.264,64.241,42.832c24.841,10.563,50.869,15.844,78.085,15.844c41.879,0,79.852-11.807,113.922-35.405l97.929,97.641c6.852,7.231,15.406,10.849,25.693,10.849c9.897,0,18.467-3.617,25.694-10.849c7.23-7.23,10.848-15.796,10.848-25.693C475.088,428.458,471.567,419.889,464.524,412.846zM291.363,291.358c-25.029,25.033-55.148,37.549-90.364,37.549c-35.21,0-65.329-12.519-90.36-37.549c-25.031-25.029-37.546-55.144-37.546-90.36c0-35.21,12.518-65.334,37.546-90.36c25.026-25.032,55.15-37.546,90.36-37.546c35.212,0,65.331,12.519,90.364,37.546c25.033,25.026,37.548,55.15,37.548,90.36C328.911,236.214,316.392,266.329,291.363,291.358z"/></g></svg>'); }

input[type=tel],
input[type=number] {
  padding: 0 33px 0 10px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.7) 100%), url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve"><g id="hash"><path style="fill:#030104;" d="M30,12V8h-5.004l1-8h-4l-1,8h-7.998l1-8h-4l-1,8H2v4h6.498L7.5,20H2v4h5l-1,8h4l1-8h8l-1.002,8H22l1-8h7v-4h-6.5l0.996-8H30z M19.5,20h-8l0.998-8h7.998L19.5,20z"/></g></svg>'); }

textarea {
  height: auto; }

.checkbox {
  backface-visibility: hidden;
  display: inline-block;
  line-height: 17px;
  min-height: 17px;
  min-width: 17px;
  outline: 0 none;
  position: relative;
  vertical-align: baseline; }

.checkbox input.hidden {
  z-index: -1; }

.checkbox input[type="checkbox"], .checkbox input[type="radio"] {
  cursor: pointer;
  height: 17px;
  left: 0;
  opacity: 0 !important;
  outline: 0 none;
  position: absolute;
  top: 0;
  width: 17px;
  z-index: 3; }

.form input[type="checkbox"], .form textarea {
  vertical-align: top; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input {
  line-height: normal; }

.checkbox .box::before, .checkbox label::before {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #d4d4d5;
  border-radius: 0.214286rem;
  content: "";
  height: 16px;
  left: 0;
  position: absolute;
  top: 0;
  transition: border 0.1s ease 0s, opacity 0.1s ease 0s, transform 0.1s ease 0s, box-shadow 0.1s ease 0s, -webkit-transform 0.1s ease 0s;
  width: 16px; }

.checkbox .box::after, .checkbox label::after {
  color: rgba(0, 0, 0, 0.87);
  font-family: FontAwesome;
  height: 16px;
  left: 0;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 0;
  transition: border 0.1s ease 0s, opacity 0.1s ease 0s, transform 0.1s ease 0s, box-shadow 0.1s ease 0s, -webkit-transform 0.1s ease 0s;
  width: 16px; }

.checkbox input.hidden + label {
  -moz-user-select: none;
  cursor: pointer; }

.checkbox label, .checkbox + label {
  color: rgba(0, 0, 0, 0.87);
  transition: color 0.1s ease 0s; }
  .checkbox label.light, .checkbox + label.light {
    color: #FFFFFFCC; }

.checkbox .box, .checkbox label {
  cursor: auto;
  display: block;
  outline: 0 none;
  padding-left: 1.85714em;
  position: relative;
  font-weight: 500; }

.checkbox input:checked ~ .box::after, .checkbox input:checked ~ label::after {
  content: "\f00c";
  color: #649dc5;
  opacity: 1;
  padding-left: 1px;
  padding-top: 0.5px; }

.card {
  -moz-box-direction: normal;
  -moz-box-orient: vertical;
  background: #ffffff none repeat scroll 0 0;
  border: medium none;
  border-radius: 0.285714rem;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-height: 0;
  padding: 0;
  position: relative;
  transition: box-shadow 0.1s ease 0s, transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s;
  width: 240px;
  flex-grow: 1; }

.cards {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px; }

.card::after, .cards::after {
  clear: both;
  content: " ";
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden; }

.card:last-child {
  margin-bottom: 0; }

.cards > .card {
  display: flex;
  float: none;
  margin: 0.875em 0.5em; }

.image {
  background-color: transparent;
  display: inline-block;
  max-width: 100%;
  position: relative;
  vertical-align: middle; }

.card [class*="right floated"], .cards > .card [class*="right floated"] {
  float: right; }
  .card [class*="right floated"]:last-child .value, .cards > .card [class*="right floated"]:last-child .value {
    margin-right: 0px;
    padding-right: 10px; }
    .card [class*="right floated"]:last-child .value.highlight, .cards > .card [class*="right floated"]:last-child .value.highlight {
      background-color: #649dc5;
      color: #ffffff; }

.card .value {
  padding: 12px 0 12px 12px;
  text-align: center; }
  .card .value.divider {
    border-left: 1px solid #cccccc; }
  .card .value.left {
    text-align: left;
    border: none; }
  .card .value.main {
    border: none;
    text-align: left;
    padding-bottom: 6px;
    display: block;
    /* Fallback for non-webkit */
    display: -webkit-box;
    max-width: 400px;
    height: 62.4;
    /* Fallback for non-webkit */
    margin: 0 auto;
    line-height: 1.6;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; }

.dx-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6); }
  .dx-modal.animate-in {
    display: block;
    animation-name: fadeIn;
    animation-duration: .3s;
    animation-fill-mode: both; }
    .dx-modal.animate-in .modal-content {
      animation-name: zoomIn;
      animation-duration: .3s;
      animation-fill-mode: both; }
  .dx-modal.animate-out {
    display: block;
    animation-name: fadeOut;
    animation-duration: .3s;
    animation-fill-mode: both; }
    .dx-modal.animate-out .modal-content {
      animation-name: zoomOut;
      animation-duration: .6s;
      animation-fill-mode: both; }
  .dx-modal .modal-content {
    background: #ffffff;
    margin: 15% auto;
    border: 10px solid rgba(0, 0, 0, 0.8);
    width: 80%;
    border-radius: 4px; }
    .dx-modal .modal-content .modal-header {
      font-weight: 700;
      border-bottom: solid 1px #DCDEE2;
      padding: 12px 6px 12px 6px;
      margin: 0 10px 0 10px; }
      .dx-modal .modal-content .modal-header .close {
        float: right;
        cursor: pointer;
        color: #cccccc; }
        .dx-modal .modal-content .modal-header .close:hover {
          color: #649dc5; }
    .dx-modal .modal-content .modal-body {
      padding: 10px 18px; }
    .dx-modal .modal-content .modal-footer {
      border-top: solid 1px #DCDEE2;
      padding: 10px;
      margin: 0;
      background-color: #f1f1f1;
      text-align: right; }
      .dx-modal .modal-content .modal-footer .btn {
        display: inline-block; }

/*# sourceMappingURL=index.css.map */
