/* page banner */
.cs-banner {

}

/* page footer */
.cs-footer {

}

/* section headers */
.cs-content-header {

}

.cs-content-heading {
  max-width: 100%;
}

.callout {
  font-weight: 700;
}


/* buttons */
.cs-button {
  margin-bottom: 10px;
}

.cs-button:hover {

}

.cs-button:focus {

}

.cs-button:active {

}


